pandas
asgiref
Django
gunicorn
psycopg2-binary
sqlparse
whitenoise
djangorestframework
Pillow
drf-yasg
djangorestframework-simplejwt
django-environ
django-cors-headers
python-dotenv
PyJWT
cryptography
fpdf
requests
